:root {
    /* --primary : #3dcfd3; */
    --secondary : #070606;
    --dark : #161616;
    --pure : #ffffff;
    --ternary : #646464;
    --light : #f2f2f2;
    --primary : #10407e;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: radial-gradient(rgba(164, 227, 247, .8), rgba(63, 121, 247, 0.7));
    /* background: linear-gradient(60deg, rgba(164, 227, 247, .8), rgba(92, 140, 245, 0.7)); */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    text-align: center;
    margin-top: 3rem;
    color: var(--pure);
}
span {
    color: var(--primary);
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: -5  rem;
}

.main-container h1 {
    margin-bottom: 3rem;
}

.search-bar-wrapper {
    display: flex;
}
.search-bar-wrapper .microphone {
    order: 2;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--pure);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    /* border: 2px solid red; */
}
.search-bar-wrapper .microphone img {
    width: 2.5rem;
    padding-right: .8rem;
}
.search-bar-wrapper .microphone img:hover {
    width: 2.7rem;
}
.search-bar-wrapper .container {
    order: 1;
}
.search-bar-wrapper .container input {
    width: 700px;
    height: 3rem;
    padding: .1rem 2rem;
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    outline: none;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    color: var(--ternary);
}
.search-bar-wrapper .container input::placeholder {
    font-weight: 400;
    font-size: 1rem;
}

.button-copy {
    width: 8rem;
    height: 2rem;
    margin-top: 1rem;
    border-radius: 20px;
    outline: none;
    border: 3px solid var(--primary);
    color: var(--primary);
    background: transparent;
    font-size: 1rem;
    letter-spacing: 1px;
}

.button-copy:hover {
    background: var(--primary);
    color: var(--pure);
}